<div class="empty-container">
    <p class="empty-header">Brak danych</p>
    <p class="empty-description">Od momentu dodania zasobu nie minęło jeszcze 24 godzin, zasób zwraca błąd 404 lub nastąpił błąd Lighthouse
    </p>
</div>