<div class="empty-container" style="height: 200px">
    <p class="empty-header">Brak elementów</p>
    <p class="empty-description">Gratulacje! Wśród Twoich zasobów nie odnaleziono żadnych awarii.
    </p>
</div>