<div class="empty-container" >
    <p class="empty-header">Brak elementów</p>
    <p class="empty-description">Nie znaleziono zasobów przypisanych do Twojej licencji. Dodaj swój pierwszy zasób aby móc monitorować jego stan.</p>
    <a asp-controller="Website" asp-action="Create">Dodaj nową stronę</a>
</div>