<div class="empty-container" >
    <p class="empty-header">Brak elementów</p>
    <p class="empty-description">W wybranym regione nie znaleziono żadnych elementów. Zmień lokalizację lub dodaj nowy element w wybranym regionie.
    </p>
    <a asp-controller="Website" asp-action="Create">Dodaj nową stronę</a>
</div>